@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
.outline{
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    background-color: #FFFFFF;
    padding-left: 30px;
    z-index: 2;
}
.outline .header_menu ul{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 25px;
}
.outline .lang{
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    right: -70%;
}
.wrap{
    max-width: 1050px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
}
section{
    scroll-margin-top: 70px;
}
header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.header_menu ul{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 2px solid #828282;
    margin: 0;
    padding: 32px 0 32px 0;
    list-style: none;
}
.header_menu a{
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.header_menu a:hover{
    color: #070707;
}
.welcome{
    width: 100%;
    background-color: #fff;
    /* padding-bottom: 80px; */
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px auto 40px;
}
.name{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    color: #070707;
}
.short_info{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    text-align: left;
    margin-bottom: 10px;
}
.lang{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    /* transform: translateY(-35px) rotate(-90deg); */
    text-transform: uppercase;
    cursor: pointer;
}
.lang > span{
    color: #000000;
}
.burger{
    display: none;
}
.foto{
    width: 100%;
    overflow: hidden;
}
.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.foto_m{
    display: none;
}
#about{
    width: 100%;
    background-color: #F6F6F6;
    margin: 80px auto;
    padding: 80px 0;
}
h2{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}
p{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin: 30px;
}
#skills{
    width: 100%;
    background-color: #fff;
    margin: 100px auto;
}
#skills p{
    margin: 70px;
}
.skills_cards{
    display: flex;
    justify-content: space-between;
}
.skills_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.skill_icon{
    width: 90px;
    height: 90px;
    overflow: hidden;
}
.skill_icon img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.skill_name{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    width: 90px;
    margin: 25px auto;
}
.skill_rate{
    display: flex;
}
.skill_rate img{
    margin-right: 9px;
    width: 15%;
}
.skill_rate img:last-child{
    margin: 0;
}
#portfolio{
    width: 100%;
    background-color: #F6F6F6;
    padding: 70px 0;
}
.work{
    width: 100%;
    margin: 45px auto;

}.work img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work a{
    display: inline-block;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin: 45px auto;
}
.work:last-child{
    margin-bottom: 0;
}
.work:last-child a{
    margin-bottom: 0;
}
#contacts{
    width: 100%;
    background-color: #fff;
    padding: 70px 0;
}
#contacts .wrap{
    margin-bottom: 30px;
}
.mess_btn{
    box-sizing: border-box;
    background-color: #070707;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 22px;
}
.mess_btn a{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}
.soc_icons{
    max-width: 50%;
    margin: 70px auto 50px;
    display: flex;
    justify-content: space-around;
}
.like_text{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

@media all and (max-width: 730px){
    .skills_cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .skills_card{
        width: 40%;
    }
    .skills_card:nth-child(-n+2){
        margin-bottom: 50px;
    }
}
@media all and (max-width: 500px) {
    .wrap{
        padding: 0 30px;
    }
    header{
        display: none;
    }
    .info{
        flex-direction: column;
        align-items: start;
        gap: 20px;
        margin: 50px auto 30px;
    }
    .burger{
        display: block;
        position: absolute;
        top: 65px;
        right: 60px;
        cursor: pointer;
    }
    .burger:active ~ .outline{
        display: block;
    }
    .foto{
        display: none;
    }
    .foto_m{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .foto_m img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .info .lang{
        display: none;
    }
    #about p{
        margin: 0;
        margin-top: 20px;
    }
    #skills p{
        margin: 40px;
    }
    .skills_card{
        width: 100%;
        margin-bottom: 50px;
    }
    .skills_card:last-child{
        margin-bottom: 0;
    }
    .soc_icons{
        max-width: 70%;
    }
}
@media all and (max-width: 350px){
    .welcome .wrap{
        padding: 0 15px;
    }
    .soc_icons{
        max-width: 100%;
    }
}